html {
    scroll-behavior: smooth;
}
.q1 {
    background-color: #14197ef0;
    height: 450px;
    width: 850px;
    padding: 25px;
    border-radius: 15px; 
    border-color: black;
    border-width: 3px;    
    border-style:groove; 
     
}
.minha-linha {
    border: none;
    height: 2px;
    background-color: #333; 
    margin: 2px 0;
    width: 1000px; 
  }
  .conterner{
    background-color: #14197ef0;
    height: 150px;
    width: 325px;
    border-radius: 15px;
  }
  .tela {
    border-radius: 15px;
    background-color: #14197ef0;
    width: auto;
    height: auto;
    font-size: 18px;
  }
-------------------------------------
.logo {
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0;
   
}

.nav-item {
    margin: 0 5px;
   
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    background-color: #058db6; /* Default background color, adjust per item */
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 14px;
    
}

.nav-link:hover {
    background-color: #d36b04;
    transition:0.5s;
}
 
.footer {
    background-color: #000000;
 height: 100px;
 color: whitesmoke;
 display: flex;
align-items: center; 
justify-content: center;
}

.card {
    max-width: 600px;
    border: 1px solid#000000f0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    display: inline-block;
    background: #14197ef0;
  }

  .card img {
    width: 100%;
    border-radius: 8px;
  }

  .btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }

  .btn:hover {
    background: #0056b3;
  }